*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root{

    --maincolor: #013082;
    --btncolor: #18b9cb;
    --color: #fff;
    --gradientcolor1: #18aac9;
    --gradientcolor2: #013ba6;
    --gradientcolor3: #16aac7;
    --margintop: 20px;
    --marginbottom: 20px;
    --borderradius: 5px;
    --forntsize1: 18px;
    --fontsize2: 20px;

}

body{

    width: 100%;
    background-image: linear-gradient(145deg, #18aac9, #013ba6 50%, #16aac7);
    background-repeat: no-repeat;

}

.container{

    width: 30%;
    margin: auto;
    background-color: var(--maincolor);
    color: var(--color);
    font-family: sans-serif;
    margin-top: 102px;
    margin-bottom: 102px;
    overflow: hidden;

}

.header, .form{
    width: 85%;
    margin: auto;
}

.header{
    margin-top: var(--margintop);
    margin-bottom: var(--marginbottom);
}

.form input{
    width: 386px;
    font-size: var(--forntsize1);
    padding: 5px 0px 5px 5px;
}

.form label{
    font-size: var(--fontsize2);
}

button{
    background-color: var(--btncolor);
    border: none;
    color: var(--color);
    font-size: var(--fontsize2);
    padding: 8px 70px;
    margin-left: 24%;
    border-radius: var(--borderradius);
    margin-bottom: var(--marginbottom);
}




.form-control.error input{
    border: 2px solid red;
    box-shadow: 1px 1px 5px 1px red;
}

.form-control.success input{
    border: 3px solid rgb(16, 199, 16);
    /* box-shadow: 1px 1px 5px 1px rgb(3, 189, 3); */
}

.form-control small{
    color: red;
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
}